@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&display=swap');
:root {
  --black:#000000;
  --turq:#36D7B7;
  --mont :'Montserrat', sans-serif;
  --comforta: 'Comfortaa', cursive;
  --pink:#E6C0E9;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
overflow-x: hidden;

 
}
button {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 0.5vw;

}
::-webkit-scrollbar-track {
  background: rgb(19,7,73);
  background: linear-gradient(180deg, rgba(19,7,73,1) 0%, rgba(15,5,29,1) 100%);
  
}
::-webkit-scrollbar-thumb {
  background-color: var(--pink);
 
}