.main {
    background-color: #0f051d;
    color: white;
    min-width: 100vw;
    font-family: var(--mont);

  
}

.modal_numbers {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 50vw;
   place-items: center;


}



.second_page {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
}
.second_page h1 {
    font-size: 6rem;
    background-image: linear-gradient(25deg,#2600fc,#ff00ea);
    color: transparent;
    -webkit-background-clip: text;
}

@media screen and ( width <=1200px) {
    .second_page h1 {
        font-size: 10vw;
      
    }
}

.modal_numbers span  {
    color:white;
    background-color:#1B1229;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
@media screen and (width>=900px) {
    .modal_numbers span {
        font-size: 1.75vw;
        height: 2.75vw;
        width: 2.75vw;
    }
    
}
@media screen and (width<=900px) {
    .modal_numbers span {
        font-size: 4vw;
        height: 5vw;
        width: 5vw;
     
    }
    
}